		* {
			padding: 0;
			margin: 0;
		}
		body,input,button,select {
			background: #f7f7f7;
			font: 12px/1.5 Microsoft YaHei,Tahoma,Helvetica,'SimSun',sans-serif;
			color: #000;
		} 
		a {
			text-decoration: none;
			color: #000;
		}
		strong {
			font-style:normal;
			font-weight: normal;
		}
		ol,ul {
			list-style: none;
		}
		h1,h2,h3,h4,h5,h6 {
			font-size:100%;
			font-weight:normal; 
		}
		
		#hd {
			min-width: 960px;
			border-bottom:0 solid #c2d5e3;
			background: url(nv.png)0 116px repeat-x;
			height: 164px;
		}
		#hd .wp {
			padding:10px 0 0;
		}
		.wp {
			margin:0 auto;
			width: 960px;
		}
		.hd1 {
			min-height: 70px;
		}
		.cl:after {
			content: ".";
   			display: block;
    		height: 0;
    		clear: both;
    		visibility: hidden;
		}
		#hd h2 {
			position: relative;
			padding: 0 20px 0 0;
			float:left;
			height: 100px;
		}
		#downloadAPP {
			width:54px;
			height: 21px;
			color:#fc7050;
			font-weight: normal;
			position: absolute;
			display: block;
			left: 173px;
			bottom: 39px;
			background-image: url(QRCode_tg.png);
			padding-left: 29px;
			line-height: 21px;
			font-family: "Microsoft YaHei", Tahoma, Helvetica, SimSun, sans-serif;
		}
		#QRCodeTest {
			position: absolute;
			left: 0px;
			bottom: -214px;
			border: 1px solid #fc7050;
			text-align: center;
			font-size: 14px;
			color: #fc7050;
			z-index: 999;
			background-color: #fff;
			padding:12px; 
			display:none;
		}
		#downloadAPP:hover div{
			display:block;
		}
		#um {
			float:right;
			padding-right: 0;
			padding-top: 21px;
			line-height: 2.3;
			zoom:1; 
		}
		#log:hover {
    		color: #ff6f3d;
		}
		#um, #um a {
			color: #7c7c7c;
		}
		#um .p {
			float: right;
		}
		.hd_d1 {
			display: inline-block;
			float: left;
			margin-left: 5px;
		}
		.pipe {
			color:#ccc;
			margin: 0 5px;
		}
		#um .pipe {
			margin: 0 5px 0 4px;
		}
		.header_topic {
			display: inline-block;
			margin-right: 10px;
			position: relative;
		}
		.hd_t_a {
			position: relative;
			z-index: 0;
		}
		.arrowup {
			position: absolute;
			background: url(imghack.png) no-repeat -80px -80px;
			display: inline-block;
			height: 7px;
			width: 14px;
			margin:10px 3px 0 3px;
			top:-4px;
			left: 51px;
		}
		.switchwidth {
			background:url(imghack.png)no-repeat -22px 5px transparent;
			width: 20px;
			height: 22px;
			display:block;
			overflow: hidden;
			text-indent: -9999px;
		}
		#searchbar {
			background: url(search_bg.png)no-repeat 0 0 transparent;
			width: 339px;
			float: right;
			height: 30px;
			margin-top: 7px;
		}
		#scbar_txt {
			color: #606060;
			width: 290px;
			border: none;
			outline: none;
			background-color: transparent;
			padding: 4px 0 0 10px;
			height: 24px;
			line-height: 24px;
		}
		#scbar_submit {
			border: none;
			float: right;
			width: 20px;
			height: 27px;
			cursor: pointer;
			opacity: 0;
			margin-right: 12px;
		}
		#nv {
			height: 48px;
			margin-top: 6px;
		}
		#nv li.a {
			margin-left: 0px;
			background:#f75733;			
		}
		#nv li {
			float: left;
			height: 48px;
			line-height: 48px;
			font-size: 14px;
		}
		#nv li.a a {
			color: #fff;
		}
		#nv li a{
			color: #fff;
		}
		#nv li a {	
			float: left;
			padding:0 16px;
		}
		#nv li a:hover {
			background-color: #f75733;
		}
		#qmenu {
			float: right;
			display: inline;
			margin:18px 0 0;
			position: relative;
			cursor: pointer;
			padding-right: 0px;
			width:13px;
			height: 12px;
			background: url(imghack.png) no-repeat -58px -75px transparent;
		}
		#qmenu_menu {
			box-shadow: 0 8px 16px -6px gray;
			border-radius: 5px;
			background: #f8f8f8;
			position:absolute;
			padding: 15px 5px 10px;
			width: 242px;
			z-index: 301;
			right: -2px;
			top:13px;
			border:1px solid #d1d1d1;
			margin-top: 5px;
			display: none;
		}
		#qmenu:hover div {
			display: block;
		}
		.hm {
			display: block;
			text-align: center;
		}
		.pbw {
			padding-bottom: 20px !important;
		}
		.ptm {
			padding-top: 10px !important;
		}
		.xi2, .xi2 a {
			color: #3893eb;
		}
		.blk a {
			display: inline;
			padding: 0;
			border:none;
		}
		.xwl {
			font-weight: 700;
		}
		#nv_fixed {
			height:48px;
			width: 100%;
			background: url(nv.png)repeat-x 0 0;
			display: none;
			position: fixed;
			top:0;
			opacity: 0.85;
			z-index:110;
		}
		.main {
			padding-top: 30px;
		}
		.py_lunbo {
			width: 960px;
			height: 350px;
			margin:0 auto 20px auto;
			overflow: hidden;
			position: relative;
			border-radius: 5px;
		}
		.py_lunbo_container {
			width:9600px;
			height: 350px;
			top:0;
			z-index: 8;
		}
		.py_lunbo_container a {
			display: block;
			width: 960px;
			height: 350px;
			margin: 0;
		}
		.py_lunbo_container:hover div {
			display: block;
		}
		.py_lunbo_container a img {
			border-radius: 5px;
			width: 960px;
			height: 350px;
		}
		a img {
			border:none;
		}
		.prev, .next {
			position: absolute;
			width: 22px;
			height: 41px;
			top:158px;
			cursor: pointer;
			z-index: 99;
			display: none;
			background: url(geek_4.png) no-repeat;
		}
		.prev {
			left:10px;
			background-position: 0 -3px; 
		} 
		.prev:hover {
			background-position: 0 -82px;
		}
		.next {
			right: 10px;
			background-position: -35px -3px;
		}
		.next:hover {
			background-position: -35px -82px;
		}
		.points {
			width: 94px;
			height: 10px;
			padding-left: 6px;
			position: absolute;
			left:430px;
			bottom: 15px;
			z-index: 99;
			text-align: center;
		}
		.points div {
			height: 10px;
			width: 10px;
			border-radius: 5px;
			background-color: #fff;
			opacity: 0.7;
			display: inline-block;
			margin-right: 6px;
			cursor: pointer;
		}
		.points div.current_pointer {
			background-color: #fff;
			opacity: 1;
		}
		.banner_links {
			width:960px;
			height: 160px;
			margin:0 auto 20px auto;
		}
		.banner_links a {
			display: block;
			float: left;
			margin-right: 12px;
			width: 312px;
		}
		.banner_links a img {
			width: 310px;
			height: 158px;
			border-radius: 5px;
			border: 1px solid #e3e3e4;
		}
		a.banner_links_last {
			margin-right: 0;
		}
		.main_content {
			width: 960px;
			margin: 0 auto;
			padding-bottom: 100px;
		}
		.left {
			width: 698px;
			float: left;
			border:1px solid #eaeaea;
			background-color: #fff;
			border-radius:5px; 
		}
		.article {
			padding: 20px 35px;
		}
		.article>h3 {
			font-size: 22px;
			color: #393939;
			line-height: 40px;
			margin-bottom: 15px;
		}
		.main a:hover {
			color: #ff6f3d;
		}
		.article>p {
			font-size: 14px;
			color: #666666;
			line-height: 22px;
			margin-bottom: 20px;
		}
		.article>a {
			display: block;
			margin-bottom: 20px;
		}
		.article_info {
			color: #c5c5c5;
			font-size: 12px;
			height: 22px;
		}
		.article_info_left {
			color: #c5c5c5;
			width: 400px;
			float: left;
		}
		.article_info_left a {
			color:#c5c5c5;
		}
		.article_info_left a:hover {
			color:#fd6440;
		}
		.article_info_left img {
			float: left;
			border-radius: 11px;
			width: 22px;
			height: 22px;
			line-height: 22px;
		}
		.author {
			padding: 0 8px 0 5px;
		}
		.article_info_right {
			color: #c5c5c5;
			float: right;
			width:190px;
			height: 16px;
			line-height: 16px;
			text-align: right;
		}
		.article_info_right span {
    		display: inline-block;
   			padding-left: 20px;
    		margin-right: 15px;
		}
		.article_info_right_0 {
			background: url(geek_2.png)no-repeat 0px 0px;
		}
		.article_info_right_1 {
			background: url(geek_2.png)no-repeat -68px 0px;
		}
		span.article_info_right_2 {
		    background: url(forum_3.png) no-repeat -118px -2px;
		    margin-right: 0;
		    cursor: pointer;
		    position: relative;
		}
		.article_info_right span {
		    display: inline-block;
		    padding-left: 20px;
		}
		.share_notice {
			position: absolute;
			right: 0;
			bottom: 14px;
			width: 155px;
			height: 40px;
			padding-top: 7px;
			padding-left: 2px;
			background: url(forum_4.png)no-repeat 0px 0px;
			text-align: left;
			z-index: 999;
			display: none;
		}
		.share_notice em {
			display: inline-block;
			width: 28px;
			height: 22px;
			text-align: left;
			margin-left: 18px;
			text-indent: -9999px;
		}
		.share_sina {
			background: url(forum_3.png)no-repeat 0px 0px;
		}
		.share_weixin {
			background: url(forum_3.png)no-repeat -43px 0px;
		}
		.share_tencent {
			background: url(forum_3.png)no-repeat -85px 0px;
		}
		.article_info_right_2:hover strong {
			display:inline-block; 
		}
		.pages {
			font-size: 12px;
			padding: 40px 0 60px 0;
			text-align: center;
		}
		.pages span.page_current {
			background: none;
			border: none;
			color: #000;
		}
		.pages span {
			border-radius: 4px;
			margin-left: 4px;
			padding: 6px 10px;
			overflow: hidden;
			height: 26px;
			line-height: 26px;
		}
		.pages a {
			border-radius: 4px;
			margin-left: 4px;
			padding: 6px 10px;
			height: 26px;
			border: 1px solid #ebebeb;
			background: #fbfbfb;
			color: #909090;
			overflow: hidden;
			text-decoration: none;
		}
		.right {
			font-family: "Microsoft YaHei";
			float: right;
			width: 250px;
		}
		.big_post_btn {
			margin-bottom: 10px;
		}
		.big_post_btn a {
			display: inline-block;
			width: 250px;
			height: 45px;
			background: url(post_btn_big.png)0 0 no-repeat rgba(0,0,0,0);
		}
		.big_post_btn a:hover{
			background-position: 0 -50px;
			border-radius: 0 0 4px 4px;
		}
		.punch_card {
			padding: 15px;
			border:1px solid #e6e6e6;
			border-radius: 5px;
			background-color: #fff;
			margin-bottom: 10px;
			width: 218px;
		}
		.part {
			width: 218px;
		}
		.pf_sign {
			background: rgba(0,0,0,0) url(signin_2.png) no-repeat scroll left top;
		}
		.pf_sign:hover {
			background: rgba(0,0,0,0) url(signin_2.png) no-repeat scroll left -80px;
		}
		.part_footer {
			height: 64px;
			position: relative;
			width: 218px;
		}
		.part_footer p {
			color: #fff;
			font-size: 12px;
			height: 12px;
			left: 150px;
			position: absolute;
			width: 60px;
		}
		.pf_num {
			top:13px;
		}
		.pf_day {
			top:36px;
		}
		.pf_sign_link {
			display: block;
			height: 64px;
			position: absolute;
			width: 122px;
		}
		.pf_sign_rank {
			display: block;
			height: 64px;
			left: 122px;
			position: absolute;
			width: 96px;
		}
		.update_version {
			width: 218px;
			margin-bottom: 10px;
			color: #444444;
			padding: 15px;
			border: 1px solid #e6e6e6;
			border-radius: 5px;
			background-color: #fff;
		}
		.update_version h2 {
			font-size: 14px;
			color: #666;
			line-height: 21px;
			margin-bottom: 7px;
		}
		.update_version h3 {
			font-size: 18px;
			color:#4c4c4c;
			line-height: 27px;
			margin-bottom: 18px;
			font-weight: bold;
		}
		.update_version div {
			width: 218px;
		}
		.update_version div a {
			width: 107px;
			height: 35px;
			border-radius: 3px;
			text-align: center;
			line-height: 35px;
			font-size: 12px;
			color: #fff;
		}
		.download_link {
			float: left;
			background-color: #2ba9fa;
		}
		.version_rec {
			float: right;
			background-color: #70c041;
		}
		.clearfix:after {
			display: block;
			content: "20";
			height: 0;
			clear: both;
			overflow: hidden;
			visibility: hidden;
		}
		.recommend_section {
			width: 248px;
			margin-bottom: 10px;
			color:#444444;
			padding:15px 0 0;
			border:1px solid #e6e6e6;
			border-radius: 5px;
			background-color: #fff;
		}
		.recommend_section .right_title {
			padding-left: 15px;
		}
		.right_title {
			font-size: 16px;
			color: #444444;
			line-height: 24px;
			margin-bottom: 15px;
			font-weight: bold;
		}
		.clearfix:after {
			display: block;
			content: "20";
			height: 0;
			clear:both;
			overflow: hidden;
			visibility: hidden;
		}
		.cl {
			zoom:1;
		}
		.cl:after {
			content: "0";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
		.recommend_section ul {
			border-top:1px solid #ededed;
		}
		.recommend_section .lc {
			border-right: 1px solid #ededed;
			width: 123px;
		}
		.recommend_section a {
			color: #666666;
			font-size: 14px;
		}
		.recommend_section li {
			float: left;
			overflow: hidden;
			border-bottom: 1px solid #ededed;
			height: 43px;
			line-height: 41px;
			text-align: center;
			width: 124px;
			margin:0;
		}
		ul li, .xl li {
			list-style: none;
		}
		.xl2 li {
			padding: 0;
		}
		.all_section {
			height: 43px;
			line-height: 41px;
			text-align: center;
			display: block;
		}
		.hot_activity {
			width: 218px;
			margin-bottom: 10px;
			color: #444444;
			padding:15px 15px 8px;
			border:1px solid #e6e6e6;
			border-radius: 5px;
			background-color: #fff;
		}
		.hot_activity a {
			margin-bottom: 15px;
			display: block;
			text-align: center;
			color: #666666;
		}
		.hot_activity a img {
			border-radius: 5px;
			margin-bottom: 5px;
		}
		.hot_activity a p {
			font-size: 12px;
			color: inherit;
			line-height: 21px;
		}
		.hot_posts {
			width: 218px;
			margin-bottom: 10px;
			color: #444444;
			padding:15px;
			border:1px solid #e6e6e6;
			border-radius: 5px;
			background-color: #fff;
		}
		.hot_posts_article li {
			height: 24px;
			overflow: hidden;
			line-height: 24px;
			margin-bottom: 5px;
		}
		.hot_posts_article li a {
			color: #909090;
			font-family: "Microsoft YaHei";
			font-size: 12px;
		}
		.focus_us {
			width: 218px;
			margin-bottom: 10px;
			color:#444444;
			padding:15px 15px 19px;
			border:1px solid #e6e6e6;
			border-radius: 5px;
			background-color: #fff;
		}
		.our_focus {
			width:0 auto 10px;
			width:237px;
		}
		.our_focus li {
			float: left;
			padding: 4px 0;
			font-size: 12px;
		}
		.our_focus li a {
			color:#909090;
			display: block;
			float: left;
			margin:0 6px;
			text-align: center; 
			width: 60px;
		}
		.our_focus .focus_list_left a {
			text-align: left;
		}
		.sp_line {
			color: #dadada;
		}
		#weixin_logo {
			text-align: center;
			font-size: 12px;
			display: none;
		}
		#weixin_logo img {
			width: 120px;
			height: 120px;
		}
		#ft {
			padding:21px 0 23px;
			border-top: 1px solid #CDCDCD;
			line-height: 1.8;
			color: #7e7e7e;
			background-color: #2f2f2f;
			width: 100%;
		}
		#flk {
			text-align: center;
			font-size: 12px;
		}
		#flk a {
			color: #cdcdcd;
		}
		#flk a:hover {
			color: #fff;
		}
		#flk img {
			vertical-align: middle;
		}
		#ft .wp {
			width: 960px;
		}
		.wp {
			margin:0 auto;
			width: 960px;
		}
		#scrolltop {
			position: fixed;
			bottom: 105px;
			display: block;
			margin: -30px 0 0 10px;
			width: 47px;
			border:0px solid #cdcdcd;
			border-radius: 3px;
			cursor: pointer;
		}
		#scrolltop:hover {
			text-decoration: none;
		}
		#scrolltop a {
			display: block;
			width: 37px;
			height: 40px;
			line-height: 12px;
			text-align: center;
			color:#787878;
			text-decoration: none;
			background:url(scrolltop.png) no-repeat 0 0;
			border-top: 0 solid #cdcdcd; 
		}
		a.scrolltopa:hover {
			background-position: -43px 0px !important; 
		}