* {
  margin: 0;
}

 html,body{
        width:100%;
        min-width: 800px;   
    }
    a{
      text-decoration: none;
    }
    ul{
      padding-left: 0px;
    }
    ul li{
      list-style-type: none;
    }
    .header{
        width: 100%;
        height: 170px; 
        margin-bottom: 10px;
    }
    .header .line1{
       width: 960px;
        height: 100px;
        margin: 0 auto;
    }
    .header .line1 img{
       width: 150px;
       height: 100px;
      margin-right: 20px;
   }
   .header .line1 .app{
       width: 54px;
       line-height: 21px;
       border-radius: 9%;
       border: rgb(252, 112, 80) 2px solid;
       color: rgb(252, 112, 80);
       font-size: 12px;
       text-align: center;
       position: relative;
       top: -47px;
    }
    .header .line1 .put{
       width: 310px;
      height: 60px;
       float: right;
       margin-top: 15px;
    }
    .header .line1 .put p{
        margin-bottom: 8px;
    }
    .header .line1 .put p a{
       color: #ccc;
       font-size: 12px;
    }
    .header .line1 .put p a:hover{
       color: rgb(252, 112, 80);
    }
    .header .line1 .put .btn{
       width: 300px;
       height: 30px;
       border: rgb(252, 112, 80) 3px solid;
       border-radius: 3px;
       outline: none;
       padding-left: 10px; 
    } 
    .line2{
       width: 100%;
       height: 50px;
       margin: 0 auto;
       background-color: rgb(252, 112, 80);
       color: #fff;
    } 
    .header .line2 ul li a{
       display: block;
       color: #fff;
       text-decoration: none;
       background: rgb(252, 112, 80);  
       text-align: center;
       line-height: 30px;
       padding: 10px 16px;
    }
    .header .line2 ul{
       padding: 0px;
       margin: 0 auto;
       text-align: center;
    }
    .header .line2 ul li{
       list-style-type: none;
       display: inline-block;
        font-size: 14px;
        text-align: center;
    } 
    .header .line2 ul li a:hover{
       background: rgb(240, 0, 0);
    }

    .content{
        width: 850px;
        height: 4300px;
        margin: 0 auto;
        margin-bottom: 50px;  
    }
    .content #img{
      width: 850px;
      height: 350px;
      margin: 0 auto;
    }
    .content .right{
      width: 230px;
      float: right;
    }
    .content .right .right1{
      width: 230px;
      background-color: rgb(252, 112, 80);
      display: block;
      color: #fff;
      text-decoration: none;
      background: rgb(252, 112, 80);
      text-align: center;
      line-height: 50px;
      margin-top:15px;
      border-radius: 2%;
      font-size: 25px;
      font-family: "Microsoft YaHei";
    }
    .content .right .right1:hover{
      background-color: rgb(240,0,0);
    }
    .right2{
      background-color: #fff;
      width: 200px;
      height: 60px;
      border: #d1d1d1 1px solid;
      border-radius: 3px;
      margin-top: 10px;
      text-align: center;
      padding: 10px 15px;
    }
    .right2 a img {
       width:200px ;
       height:60px;
       
    }
    .right3{
      width: 210px;
      height: 115px;
      padding: 10px;
      border: #d1d1d1 1px solid;
      border-radius: 3px;
      margin-top: 10px;
      background: #fff;
    }
    .right3 p{
      font-size: 14px;
      color: rgb(102,102,102);
      margin-top: 0px;
      margin: 10px 0px;
    }
    .right3 p a{
       font-weight: bold;
       color: #000;
       font-size: 17px;
       text-decoration: none;
       width: 150px;
       font-family: "Microsoft YaHei";
    }
    .right3 p a:hover{
      color: rgb(252,112,80);
    }
     .right3 .rom{
      text-decoration: none;
      color: #fff;
      font-size: 15px;
      display: inline-block;
      line-height: 40px;
      width: 100px;
      height: 40px;
      background:#2ba9fa;
      border-radius: 4px;
      text-align: center; 
     }
     .right3 .rom:hover{
      background: blue;
     }
     .right3 .shua{
      text-decoration: none;
      color: #fff;
      font-size: 15px;
      display: inline-block;
      line-height: 40px;
      width: 100px;
      height: 40px;
      background:#70c041;
      border-radius: 4px;
      text-align: center; 
     }
     .right3 .shua:hover{
      background: green;
     }
     .right4{
      width: 230px;
      height: 254px;
      border: #d1d1d1 1px solid;
      border-radius: 5px;
      margin-top: 10px;
      background: #fff;
     }
     .right4 h2{
      font-weight: bold;
      font-size: 25px;
      line-height: 20px;
      width: 220px;
      border-bottom: #d1d1d1 1px solid;
      padding-top: 10px;
      padding-bottom:10px; 
      padding-left: 10px;
      margin: 0px;
      font-family: "Microsoft YaHei";
     }
     .right4 ul{
      height: 180px;
      padding-left: 0px;
      margin: 0px;
     }
     .right4 ul li{
      list-style-type: none;
      display: inline-block;
      width:114px;
      height: 35px;
      border-bottom: #d1d1d1 1px solid;
      border-right: #d1d1d1 1px solid;
      text-align: center;
      float: left;
     }
     .right4 ul li a{
      text-decoration: none;
      color: #666;
      line-height: 35px;
     }
     .right4 ul li a:hover{
      color: #fc7050;
     }
      .right4 p{
        margin-top: 8px;
        margin-bottom: 8px;
        width: 230px;
        text-align: center;
      }
      .right4 p a{
        text-decoration: none;
        color: #666;
      }
      .right4 p a:hover{
        color: #fc7050;
      }
      .right5{
        width: 200px;
        height: 320px;
        padding: 15px;
        border: #d1d1d1 1px solid;
        border-radius: 6px;
        margin-top: 10px;
        background: #fff;
      }
       .right5 h2{
        margin-top: 0px;
        font-family: "Microsoft YaHei";
        font-weight: bold;
        font-size: 25px;
        line-height: 24px;
        margin-bottom: 10px;
       }
       .right5 a{
        display: block;
        width: 200px;
        height:140px;
        text-decoration: none;
        color: #666;
        margin-bottom: 10px; 
       }
       .right5 a:hover{
        color: #fc7050;
       }
       .right5 a img{
        width: 200px;
        height: 115px;
       }
       .right5 a p{
        margin: 0px;
        font-family: "Microsoft YaHei";
        font-size: 12px;
        text-align: center;
        line-height: 21px;
       }
       .right6{
        width: 200px;
        height: 360px;
        border: #d1d1d1 1px solid;
        border-radius: 6px;
        padding: 15px;
        margin-top: 10px;
        background: #fff;
       }
       .right6 h2{
        line-height: 24px;
        font-size: 25px;
        font-family: "Microsoft YaHei";
        margin-top: 0px;
        margin-bottom: 15px;
       }
       .right6 ul{
        padding: 0px;
        margin-top: 8px;
       }
       .right6 ul li{
        line-height: 24px;
        width: 200px;
        margin-bottom: 5px;
       }
       .right6 ul li a{
        color: #666;
        font-size: 12px;
        font-family: "Microsoft YaHei";
       }
       .right6 ul li a:hover{
        color: #fc7050;
       }
       .right7{
        width: 200px;
        height: 120px;
        padding: 15px;
        border: #d1d1d1 1px solid;
        border-radius: 6px;
        margin-top: 10px;
        background: #fff;
       }
       .right7 h2{
        line-height: 24px;
        font-size: 25px;
        font-family: "Microsoft YaHei";
        margin-top: 0px;
        margin-bottom: 15px;
       }
       .right7 ul{
        padding-left: 0px;
       }
       .right7 ul li {
        width: 60px;
        line-height: 18px;
        padding-top: 4px;
        padding-bottom: 4px;
        display: inline-block;
       }
       .right7 ul li a{
        width:50px;
        line-height: 18px;
        color: #666;
        font-size: 12px;
        float: left;
       }
       .right7 ul li span{
        float: left;
       }
       .right7 ul li a:hover{
        color: #fc7050;
       }
       .right7 ul li span{
        color: #666;
        line-height: 18px;
       }
       .content .left{
        width: 600px;
        float: left;
        height: 3750px;
        border: #d1d1d1 1px solid;
        border-radius: 6px;
        margin-top: 20px;
        }
        .article1{
          width: 560px;
          height: 370px;
          padding: 20px;
        }
        .article1 h1{
          font-size: 25px;
          font-weight: bold;
          font-family: "Microsoft YaHei";
          line-height: 40px;
          margin-bottom: 15px;
          color: #000;
        }
        .article1 h1 a:hover{
          color: #fc7050;
        }
        .article1 p{
          color: #666;
          font-size: 14px;
          font-family: "Microsoft YaHei";
          line-height: 21px;
          margin-bottom: 20px;
        }
        .article1 p a{
          color: #000;
        }
        .article1 p a:hover{
          color: #fc7050;
        }
        .article1 p span{
          color: #666;
          font-size: 14px;
          font-family: "Microsoft YaHei";
          margin-left: 5px;
        }
        .pg{
          width: 320px;
          text-align: center;
          margin: 0 auto;
        }
        .pg a{
          padding: 6px 10px;
          display: inline-block;
          border: #d1d1d1 1px solid;
          margin-left: 3px;
          color: #666;
          font-size: 14px;
        }
        .pg a:hover{
          color: #fc7050;
        }
       .footer{
        width: 100%;
        height: 43px;
        background-color: #000;
        padding-top: 10px;
        padding-bottom: 10px;
        }
        .footer .footer-in1{
          width: 960px;
          height: 43px;
          text-align: center;
          margin: 0 auto;
        }
        .footer .footer-in2 a{
           font-size: 12px;
           color: #cdcdcd;
           font-family: "Microsoft YaHei";
           line-height: 21px;
        }
         .footer .footer-in2 span{
          color: #cdcdcd;
         }
         .footer .footer-in2 a:hover{
          color: #fff;
         }
         .erweima{
          display: none;
          position: absolute;
          width: 179px;
          height: 189px;
          padding: 10px;
          border: #fc7050 1px solid;
          top: 57px;
          left: 450px;
          background: #fff;
          text-align: center;
         }
         .erweima span{
          line-height: 20px;
          width: 179px;
          color: #fc7050;
          text-align: center;
         }
         .guanwang{
           display: none;
           position: absolute;
           width: 130px;
           height: 225px;
           border: #d1d1d1 1px solid;
           border-radius: 5px;
           top: 10px;
           right: 230px;
           background: #fff;
         }
         .guanwang ul li div{
           width: 130px;
           line-height: 40px;
           text-align: center;
           background: #f8f8f8;
           border-bottom: #d1d1d1 1px solid;
           font-size: 12px;
         }
         .guanwang ul li{
          color: #666;
          text-align: center;
          font-size: 12px;
          font-family: "Microsoft YaHei";
         }
         .guanwang ul li a{
          line-height: 30px;
          width: 110px;
          text-align: center;
         }
         .guanwang ul li a:hover{
          color: #fc7050;
         }
          #line2{
          display: none;
          width: 100%;
          height: 50px;
          margin: 0 auto;
          background-color: rgb(252, 112, 80);
          color: #fff;
          position: fixed;
          top: 0px;
         }
         #line2 ul li a{
          display: block;
          color: #fff;
          text-decoration: none;
          background: rgb(252, 112, 80);  
          text-align: center;
          line-height: 30px;
          padding: 10px 16px;
         }
         #line2 ul{
          padding: 0px;
          margin: 0 auto;
          text-align: center;
         }
         #line2 ul li{
          list-style-type: none;
          display: inline-block;
          font-size: 14px;
          text-align: center;
         } 
         #line2 ul li a:hover{
          background: rgb(240, 0, 0);
         }
         #fixed{
          width: 230px;
          display: none;
          position: fixed;
          top: 100px;
          right: 330px;
         }
         #fixed .right1{
          width: 230px;
          background-color: rgb(252, 112, 80);
          display: block;
          color: #fff;
          text-decoration: none;
          background: rgb(252, 112, 80);
          text-align: center;
          line-height: 50px;
          margin-top:15px;
          border-radius: 2%;
          font-size: 25px;
          font-family: "Microsoft YaHei";
         }
         #fixed .right1:hover{
          background-color: rgb(240,0,0);
         }
         #fixed .right2{
          background-color: #fff;
          width: 200px;
          height: 60px;
          border: #d1d1d1 1px solid;
          border-radius: 3px;
          margin-top: 10px;
          text-align: center;
          padding: 10px 15px;
         }
         #fixed .right2 a img {
          width:200px ;
          height:60px;
       
          }
         #fixed .right3{
          width: 210px;
          height: 115px;
          padding: 10px;
          border: #d1d1d1 1px solid;
          border-radius: 3px;
          margin-top: 10px;
          background: #fff;
         }
        #fixed .right3 p{
         font-size: 14px;
         color: rgb(102,102,102);
         margin-top: 0px;
         margin: 10px 0px;
         }
        #fixed .right3 p a{
         font-weight: bold;
         color: #000;
         font-size: 17px;
         text-decoration: none;
         width: 150px;
         font-family: "Microsoft YaHei";
         }
        #fixed .right3 p a:hover{
         color: rgb(252,112,80);
         }
        #fixed .right3 .rom{
         text-decoration: none;
         color: #fff;
         font-size: 15px;
         display: inline-block;
         line-height: 40px;
         width: 100px;
         height: 40px;
         background:#2ba9fa;
         border-radius: 4px;
         text-align: center; 
         }
        #fixed .right3 .rom:hover{
         background: blue;
         }
        #fixed .right3 .shua{
         text-decoration: none;
         color: #fff;
         font-size: 15px;
         display: inline-block;
         line-height: 40px;
         width: 100px;
         height: 40px;
         background:#70c041;
         border-radius: 4px;
         text-align: center; 
        }
        #fixed .right3 .shua:hover{
         background: green;
        }
        #fixed .right4{
         width: 230px;
         height: 254px;
         border: #d1d1d1 1px solid;
         border-radius: 5px;
         margin-top: 10px;
         background: #fff;
        }
        #fixed .right4 h2{
         font-weight: bold;
         font-size: 25px;
         line-height: 20px;
         width: 220px;
         border-bottom: #d1d1d1 1px solid;
         padding-top: 10px;
         padding-bottom:10px; 
         padding-left: 10px;
         margin: 0px;
         font-family: "Microsoft YaHei";
         }
        #fixed .right4 ul{
         height: 180px;
         padding-left: 0px;
         margin: 0px;
         }
        #fixed .right4 ul li{
         list-style-type: none;
         display: inline-block;
         width:114px;
         height: 35px;
         border-bottom: #d1d1d1 1px solid;
         border-right: #d1d1d1 1px solid;
         text-align: center;
         float: left;
         }
        #fixed .right4 ul li a{
         text-decoration: none;
         color: #666;
         line-height: 35px;
         }
        #fixed .right4 ul li a:hover{
         color: #fc7050;
         }
        #fixed .right4 p{
         margin-top: 8px;
         margin-bottom: 8px;
         width: 230px;
         text-align: center;
         }
        #fixed .right4 p a{
         text-decoration: none;
         color: #666;
         }
        #fixed .right4 p a:hover{
         color: #fc7050;
         }
         #fixed .back{
          display: block;
          line-height: 40px;
          width: 40px;
          background: #d1d1d1;
          border-radius: 2px;
          text-align: center;
          margin: 0 auto;
          margin-top: 15px;
         }
         #fixed .back:hover{
          background: #fc7050;
         }
